body{
    position: relative;
    font-family: $font-family-content;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.container{
    margin: 0 20px;
}

.main-title{
    @include title(rgba(#4fadc4, 0.5), 50px, -20px, 30px);
    margin-bottom: 20px;
}

.main-title--second{
    @include title(rgba(#4fadc4, 0.5), 30px, -15px, 20px);
    margin-bottom: 20px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.showmail{
    background-color: rgba(150, 150, 150, 0.2);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
    &__label{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }

    .showmail__off{
        display: none;
        font-weight: bold;
    }
    .showmail__on{
        display: block;
        font-weight: bold;

    }
    .showmail__icon{
        display: block;
        width: 15px;
        height: 15px;
        background: url("../images/back.svg");
        background-size: 100%;

    }

    .showmail__checkbox:checked ~ label .showmail__on{
        display: none;
    }
    .showmail__checkbox:checked ~ label .showmail__off{
        display: block;
    }
    .showmail__checkbox:checked ~ label .showmail__icon{
        transform: rotate(-90deg);
    }
    .showmail__checkbox:checked ~ .mail{
        display: block;
    }
    .showmail__checkbox:checked ~ label{
        margin-bottom: 20px;
    }
}

.mail{
    // background-color: rgba(150, 150, 150, 0.2);
    // padding: 20px;
    // box-sizing: border-box;
    overflow-y: hidden ;
    margin-bottom: 50px;
    display: none;

    h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    p{
        line-height: 1.4;
        margin-bottom: 20px;

    }

    a{
        text-decoration: none;
        font-weight: bold;
        color: #4fadc4;
    }

    strong{
        font-weight: bold;
    }
    em{
        font-style: italic;
    }
}

.form{
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 15px;
        margin-bottom: 10px;
    }

    &__button{
        display: block;
        background-color: $black;
        padding: 10px;
        color: white;
        font-size: 14px;
        font-family: $font-family-content;
        cursor: pointer;
    }

    &-group{
        position: relative;
        border: 1px solid $black;
        padding: 10px;
        margin-bottom: 40px;
        .invalid-feedback{
            position: absolute;
            left: 0;
            top: calc( 100% + 10px);
            color: red;
        }

        label{
            position: absolute;
            background-color: white;
            padding: 0 10px;
            top: -10px;
            left:20px;
        }
        input{
            display: block;
            border: none;
            outline: none;
            font-size: 15px;
            width: 100%;
        }
        small{
            position: absolute;
            bottom: -15px;
            left: 0;
            font-size: 12px;
        }
        textarea{
            width: 100%;
            border:none;
            resize: vertical;
            outline: none;
            font-size: 15px;
        }

    }

    &__checkbox{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        .form-check{
            margin-right: 20px;
        }
    }
}

.sendButton{
    display: block;
    background-color: $black;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-family: $font-family-content;
    cursor: pointer;
    border: none;
}

.sendButton--link{
    display: inline-block;
    background-color: $black;
    padding: 13px;
    color: white;
    font-size: 14px;
    font-family: $font-family-content;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.form__button-save{
    display: flex;
    align-items: center;
    .sendButton{
        margin-right: 20px;
    }
}

.table__content{
    display: flex;
    flex-wrap: wrap;
}

.table__group, .table__local, .table__supervisor, .table__duration{
    color: $black;
    margin-right: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    &::before{
        position: relative;
        top: -1px;
        margin-right: 6px;
        content:"";
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}

.table__group::before{
    background: url("../images/class.svg");
    background-size: 30px;

}
.table__local::before{
    background: url("../images/location.svg");
    background-size: 100%;

}
.table__duration::before{
    background: url("../images/clock.svg");
    background-size: 100%;

}
.table__supervisor::before{
    background: url("../images/person.svg");
    background-size: 100%;

}

.alert-success{
    background-color: rgba(green, 0.2);
    padding: 20px;
    margin-bottom: 30px;

}


@media(min-width: 900px){
    .mail p{
        column-count: 2;
        column-gap: 20px;
    }

}

.fakelist{
    display: none;
}
